div.banner {
	position: relative;
	margin-bottom: 20px;
}

div.banner img {
	position: relative;
	margin-bottom: 20px;
	border-radius: 4px;
}

div.banner .legend {
  position: absolute;
  top: 100%;
  height: 44px;
  width: 100%;
  color: white;
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  margin-top: -64px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

div.ec-card-primary {
	background-color: #007bff;
	color: white;
	padding: 20px;
}


div.news .header {
	font-size: 16px;
}

div.news ul {
	list-style: none;
	margin-right: 0px;
  padding: 0px;
}

div.news ul li {
	border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

div.news ul li .date {
	font-size: 12px;
	color: #666;
	margin: 0px;
}

div.news ul li .text {
	font-size: 12px;
	margin: 0px;
}