<div class="banner">
		<img src="./assets/imgs/gestor-banner.jpg">
		<h5 class="legend">UNINASSAU</h5>
	</div>
<div class="row">
	

	<div class="col-sm-4">
		<div class="card text-white bg-primary mb-3 ec-bg-primary">
		  <div class="card-body">
		    <p class="card-title">Alunos Ativos</p>
		    <h1 class="card-text text-center">360</h1>
		  </div>
		</div>
		<div class="card text-white bg-primary mb-3 ec-bg-primary">
		  <div class="card-body">
		    <p class="card-title">Cursos em Andamento</p>
		    <h1 class="card-text text-center">82</h1>
		  </div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="card text-white bg-primary mb-3 ec-bg-primary">
		  <div class="card-body">
		    <p class="card-title">Faturamento do Período</p>
		    <h1 class="card-text text-center">R$ 17.480,00</h1>
		  </div>
		</div>

		<div class="card">
		  <div class="card-header">
		    Notificações
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item"><small class="text-right">Problema relatado</small></li>
		    <li class="list-group-item"><small class="text-right">Curso encerrado</small></li>
		    <li class="list-group-item"><small class="text-right">Aprovação pendente</small></li>
		  </ul>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="news">
		<h5 class="header">Últimas Notícias</h5>
			<ul>
				<li>
					<p class="date">01/09/2019</p>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</li>
				<li>
					<p class="date">01/09/2019</p>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</li>
				<li>
					<p class="date">01/09/2019</p>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</li>
				<li>
					<p class="date">01/09/2019</p>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</li>
			</ul>
		</div>
	</div>
</div>