<h1>Alunos</h1>
<div class="container">
<div class="btn-toolbar actions justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary btn-sm">Enviar Mensagem</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-secondary btn-sm">Emtitir Certificados</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-secondary btn-sm">Exportar XLS</button>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Desempenho</th>
      <th>Badges</th>
      <th>Média 1</th>
      <th>Média 2</th>
      <th>Cupons</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>Pippo</td>
      <td>28</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>7</td>
      <td>6</td>
      <td><i class="fas fa-tags"></i> x7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Doe</td>
      <td>67</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>8</td>
      <td>9</td>
      <td><i class="fas fa-tags"></i> x8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Bobbe</td>
      <td>38</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>10</td>
      <td>10</td>
      <td><i class="fas fa-tags"></i> x10</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Harwell</td>
      <td>13</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>7</td>
      <td>8</td>
      <td><i class="fas fa-tags"></i> x7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Adah</td>
      <td>96</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>3</td>
      <td>7</td>
      <td><i class="fas fa-tags"></i> x3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Berkeley</td>
      <td>51</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>10</td>
      <td>7</td>
      <td><i class="fas fa-tags"></i> x10</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Larina</td>
      <td>9</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>9</td>
      <td>10</td>
      <td><i class="fas fa-tags"></i> x9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Wilburt</td>
      <td>25</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>7</td>
      <td>0</td>
      <td><i class="fas fa-tags"></i> x7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Rey</td>
      <td>92</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>7</td>
      <td>2</td>
      <td><i class="fas fa-tags"></i> x7</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Cash</td>
      <td>29</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>8</td>
      <td>3</td>
      <td><i class="fas fa-tags"></i> x8</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Paddy</td>
      <td>89</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>2</td>
      <td>7</td>
      <td><i class="fas fa-tags"></i> x2</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Georgi</td>
      <td>80</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>2</td>
      <td>1</td>
      <td><i class="fas fa-tags"></i> x2</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Derril</td>
      <td>90</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>4</td>
      <td>10</td>
      <td><i class="fas fa-tags"></i> x4</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Roxi</td>
      <td>58</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>4</td>
      <td>9</td>
      <td><i class="fas fa-tags"></i> x4</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Kurtis</td>
      <td>44</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>2</td>
      <td>4</td>
      <td><i class="fas fa-tags"></i> x2</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Daisey</td>
      <td>57</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>4</td>
      <td>9</td>
      <td><i class="fas fa-tags"></i> x4</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Candice</td>
      <td>10</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>3</td>
      <td>7</td>
      <td><i class="fas fa-tags"></i> x3</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Zandra</td>
      <td>65</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>10</td>
      <td>4</td>
      <td><i class="fas fa-tags"></i> x10</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Minne</td>
      <td>25</td>
      <td><img class="ec-badge" src="./assets/imgs/badges.png"></td>
      <td>7</td>
      <td>0</td>
      <td><i class="fas fa-tags"></i> x7</td>
    </tr>
  </tbody>
</table>
</div>