<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
     	<h1>Dados Institucionais</h1>

			<h3 style="display: inline-block;">Endereço</h3> <span class="badge badge-secondary">Alterar</span>
			<p>Av. Prudente de Morais, 3510</p>
			<p>84 3031-4059</p>
			<p>Capim Macio, Natal/RN</p>

			<h3>URL's</h3>
			<p>Subdomínino EduCaju:</p>
			<p>www.educaju.com.br/uninassau <span class="badge badge-secondary">Alterar</span></p>
			<p>Site Oficial:</p>
			<p>www.uninassau.com.br <span class="badge badge-secondary">Alterar</span></p>

			<h3>Redes Sociais</h3>
			<p>Facebook: facebook.com/uninassau <span class="badge badge-secondary">Alterar</span></p>
			<p>Instagram: instagram.com/uninassau <span class="badge badge-secondary">Alterar</span></p>
			<p>Twitter: twitter.com/uninassau <span class="badge badge-secondary">Alterar</span></p>
    </div>
    <div class="col-sm-3">
    		<img class="logo-instituicao" src="./assets/imgs/logo-uninassau.png">
		</div>
  </div>
</div>


