<h1>Criar Novo Curso</h1>
<form>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome do Curso">
		  </div>
		  <small>Período de Inscrições</small>
		  <div class="form-group">
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Data de Início">
		  </div>
		  <div class="form-group">
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Data de Encerramento">
		  </div>
		  <small>Período do Curso</small>
		  <div class="form-group">
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Data de Início">
		  </div>
		  <div class="form-group">
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Data de Encerramento">
		  </div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
			  <div class="input-group">
			    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Carga Horária" aria-describedby="validationTooltipUsernamePrepend" required>
			    <div class="input-group-append">
			      <span class="input-group-text" id="validationTooltipUsernamePrepend">horas</span>
			    </div>
			  </div>
			</div>
			<div class="form-group">
			  <div class="input-group">
			    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Professor/Instrutor" aria-describedby="validationTooltipUsernamePrepend" required>
			    <div class="input-group-append">
			      <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fas fa-search"></i></span>
			    </div>
			  </div>
			</div>
			<small>Pagamento</small>
			<div class="form-control-group">
				<div class="custom-control custom-radio">
				  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
				  <label class="custom-control-label" for="customRadio1">Curso Gratuito</label>
				</div>
				<div class="custom-control custom-radio">
				  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
				  <label class="custom-control-label" for="customRadio2">Curso Pago</label>
				</div>
				<div class="input-group">
		        <div class="input-group-prepend">
		          <div class="input-group-text">R$</div>
		        </div>
		        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="0,50">
		      </div>
			</div>
		</div>
	</div>
  
	<div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
	<div class="form-group">
		  <div class="custom-file">
		  <input type="file" class="custom-file-input" id="customFileLang" lang="es">
		  <label class="custom-file-label" for="customFileLang">Vídeo Promocional</label>
		</div>
	</div>
	<button type="button" class="btn btn-secondary">Publicar</button>
</form>