html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Quicksand', sans-serif;
	color: #607d8b;
}

.content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: white;
}

.content::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.content::-webkit-scrollbar-thumb
{
	background-color: #b7b7b7;
}

.wrapper-site {
	display: flex;
	background-color: #eee;
}

.site-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #eee;
}

.site-content .content {
	padding: 20px 20px;
    height: calc(100vh - 62px);
    overflow-y: auto;
}