.left-bar {
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 100vh;
	background-color: rgba(0,0,0,0.1);
	box-shadow: 1px 0px 3px #ccc;
	overflow-y: auto;
	z-index: 1;
	float: left;
  position: fixed;
  margin-top: 56px;
}

.left-bar .header {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 20px 10px;
	height: 220px;
	/*background-color: #03a9f4;*/
}

.left-bar .avatar-wrapper {
	border: 4px #e47615 solid;
	border-radius: 1000px;
	margin-bottom: 10px;
}

.left-bar .avatar {
  width: 72px;
  height: 72px;
  border-radius: 1000px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-bar .header img.brand {
	max-width: 100%;
	max-height: 100%;
}

.left-bar .content {
	flex-grow: 1;
	padding: 20px 10px;
	overflow: auto;
}

.left-bar .content ul.menu {
	margin-top: -20px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 0px;
	/*height: calc(100vh - 220px);*/
	list-style: none;
}
.left-bar .content ul.menu li {
	padding: 0px;
}
.left-bar .content ul.menu li a {
	display: block;
	padding: 0px 0px;
	border-top: 1px solid #eee;
	color: #607d8b;
}
.left-bar .content ul.menu li:last-child a {
	border-bottom: 1px solid #eee;
}
.left-bar .content ul.menu li a:hover {
	background-color: #fafafa;
	color: #e47615;
	text-decoration: none;
}
.left-bar .content ul.menu li a .menu-icon {
	display: inline-block;
	padding: 10px 0px;
	width: 50px;
	text-align: center;
	border-right: 1px solid #eee;
}

.left-bar .content ul.menu li a .menu-caption {
	display: inline-block;
	padding-left: 10px;
}