div.btn btn-primary {
	background-color: #e47615;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
}

div.accordion-header {
	width: 100%;
	position: relative;
	border-bottom: solid 1px #ddd;
	margin-bottom: 10px;
}

div.accordion-header a {
	text-align: left;
	padding-left: 0px;
	display: block;
  width: 100%;
  text-align: left;
  color: #607d8b;
}

div.accordion-header a:hover {
	color: #e47615;
	text-decoration: none;
}

div.accordion-header a:focus {
	text-decoration: none;
}

div.accordion-header .ec-chevron {
	position: absolute;
	top: 12px;
	left: calc(100% - 20px);
}

ul.cursos {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
	margin-right: -10px;
}

ul.cursos li {
	margin-right: 10px;
}
ul.cursos li.curso > a {
	text-align: center;
  padding: 30px 20px;
  display: block;
  min-width: 180px;
  background-color: #e47615;
  max-width: 180px;
  color: white;
}