<h1>Minhas Salas</h1>
<div class="accordion-header">
  <a class="btn btn-link" data-toggle="collapse" href="#abertas" role="button" aria-expanded="false" aria-controls="abertas">Abertas</a>
  <i class="fas fa-chevron-down ec-chevron"></i>
</div>
<div class="collapse" id="abertas">
  <ul class="cursos">
    <li class="curso">
      <a href="#">Matemática</a>
    </li>
    <li class="curso">
      <a href="#">Química</a>
    </li>
    <li class="curso">
      <a href="#">Geologia</a>
    </li>
    <li class="curso">
      <a href="#">História</a>
    </li>
    <li class="curso">
      <a href="#">Física</a>
    </li>
  </ul>
</div>

<div class="accordion-header">
  <a class="btn btn-link" data-toggle="collapse" href="#encerradas" role="button" aria-expanded="false" aria-controls="encerradas">Encerradas</a>
  <i class="fas fa-chevron-down ec-chevron"></i>
</div><div class="collapse" id="encerradas">
  <ul class="cursos">
    <li class="curso">
      <a href="#">Get Things Done</a>
    </li>
    <li class="curso">
      <a href="#">Angular 8</a>
    </li>
    <li class="curso">
      <a href="#">Web Design</a>
    </li>
    <li class="curso">
      <a href="#">Costumer Success</a>
    </li>
    <li class="curso">
      <a href="#">Hackatando</a>
    </li>
  </ul>
</div>