* {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
}

div.content-wrapper {
	padding: 100px 50px 50px 300px;
}

.ec-bg-primary {
	background-color: #e47615 !important;
}