<div class="left-bar">
  <div class="header">
  	<div class="avatar-wrapper">
	  	<div class="avatar">
	    	<img class="brand" src="http://www.marshallberenson.com/_Media/marshall-17_hr.jpeg">
	  	</div>
  	</div>
    Olá, Luis Thiago!
  </div>

  <div class="content">
    <ul class="menu">
      <li>
        <a href="#" routerLink="/gestor">
          <span class="menu-icon"><i class="far fa-comments"></i></span>
          <span class="menu-caption">Gestor</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/gestor/dados-instituicao">
          <span class="menu-icon"><i class="fas fa-building"></i></span>
          <span class="menu-caption">Dados da Instituição</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/cursos">
          <span class="menu-icon"><i class="fas fa-book"></i></span>
          <span class="menu-caption">Cursos</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/cursos/edit">
          <span class="menu-icon"><i class="fas fa-book"></i></span>
          <span class="menu-caption">Criar Curso</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/alunos">
          <span class="menu-icon"><i class="fa fa-industry" aria-hidden="true"></i></span>
          <span class="menu-caption">Alunos</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/gestor">
          <span class="menu-icon"><i class="far fa-comments"></i></span>
          <span class="menu-caption">Suporte</span>
        </a>
      </li>
    </ul>
  </div>
</div>